{% extends '::base.html.twig' %}


{% block javascripts %}

	<script type="text/javascript">


		$(document).ready(function(){


			
		});
	
	</script>

{% endblock %}

{% block body -%}
    
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Silvanus</h1>
    <p>Advance Firewall administrador for IPTABLES</p>
    <p>{# <a class="btn btn-primary btn-lg">Learn more</a>#}</p>
  </div>
</div>
    
<div class="row">

	<img src="{{ asset('bundles/silvanus/img/silvanus_dia.png') }}"></img>

</div>   
    
    
{% endblock %}
