{% extends '::base.html.twig' %}

{% block body -%}

	<div class="page-header"><h1>Chain <small>show</small></h1></div>

	<pre>
	
		{% for rule in rules %}
{{ rule }}
		{% endfor %}
	
	</pre>
{% endblock %}
